venv
__pycache__

# Aurora data
data/aurora_db/features.tsv
data/aurora_db/measurements_auscultatory.tsv
data/aurora_db/measurements_oscillometric.tsv
data/aurora_db/participants.tsv

# MIMIC-III data
data/mimic_iii_db/ed

# MIMIC-IV data
data/mimic_iv_db/ed

